server:
  port: ${PORT:8080}

spring:
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://interchange.proxy.rlwy.net:36723/railway?sslmode=require}
    username: ${DATABASE_USER:postgres}
    password: ${DATABASE_PASSWORD:HJqZNXiaylYpmzMfXXWwLDOcSUPmpRnI}
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
